/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center;
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}

p, div{
	font-weight: 100;
	color: #4a4a4a;
}
.navbar-header{
	position:absolute;
	right: 1em;
}

.contlogo{
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 50%;
}
@media screen and (min-width: 320px){
.navbar-brand {
	font-weight: 700;
	position: relative;
}
.navbar-brand img{
    width: 70px;
}
}

@media screen and (min-width: 960px){
.navbar-brand {
	font-weight: 700;
	position: relative;
}
.navbar-brand img{
    width: 120px;
}
    .anderfoto{
        
        
        margin-left: 2em;
    }

.foto{
  
   width: 100%;
    height:100%;
    min-height: 400px;
    overflow: hidden;
    position:relative;
}
.foto img{
   
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: auto;
    
}

.navbar-default .navbar-brand {
	color: #1abc9c;
}

.navbar-default {
/*	background-color: rgba(255,255,255,0.7);*/
	background: transparent;
	border-color: transparent;
	position: absolute;
	z-index: 999;
	top:0;
	left: 0;
	right: 0;
}
.navbar-default .contactli{

/*	position:absolute;
	right: 0;*/
	display:table-cell;
    vertical-align: middle;
    float: right;
}
.navbar-default .contactli a{
	padding: 0;
	    vertical-align: middle;
    display: table-cell;
	}
.navbar-default .contactli img{
 	max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto auto;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #1abc9c;
	background-color: transparent;
	border-bottom: 2px solid #1abc9c
}

.navbar-default .navbar-nav > li > a {
width: 150px;
  height: 150px;
  line-height: 120px;
  text-align: center;
  
}
.navbar-default .navbar-nav > li > a:hover{
	background: grey;
	color: white;
}
.navbar-default .navbar-nav > li{

}
.headercont{
   background: url(../img/wallpaper2.png) no-repeat center top;
}

.navbar-right{
	position: relative;
	float: right !important;
	width: 100%;
}

@media screen and (min-width: 320px){
.works{
	min-height:100vh;
	position: relative;
	overflow: hidden;
	background: #eee url(../img/graat.svg) center;
	background-size: 100% 32em;
}
}
@media screen and (min-width: 960px){
.works{
	min-height:100vh;
	position: relative;
	overflow: hidden;
	background: #eee url(../img/graat.svg) center;
	background-size: 100% 50em;
}
}
.works .graatsvg{
	position:absolute;
	top:0;
	left: 0;
	right: 0;
	bottom:0;
	z-index: -1;
	height: 100%;
	width: 100%;
}


.works2{
	min-height:100vh;
	position: relative;
	overflow: hidden;
	background: #eee  ;
	background-size: 100% 32em;
}
}
@media screen and (min-width: 960px){
.works2{
	min-height:100vh;
	position: relative;
	overflow: hidden;
	background: #eee ;
	background-size: 100% 50em;
}
}

	width: 100%;
}
@media screen and (min-width: 320px){
#headerwrap {
	background: rgba(0,0,0,0.6);
	padding-top: 250px;
	text-align:center;
	min-height: 200px;
	width: 100%;
	position:relative;
}
}

@media screen and (min-width: 960px){
#headerwrap {
	background: rgba(0,0,0,0.6);
	padding-top: 250px;
	text-align:center;
	min-height: 400px;
	width: 100%;
	position:relative;
}
}


#headerwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#headerwrap .container:first-child{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

#headerwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#headerwrap img{
	width: 35%;
	height: auto;
}
#social {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
}

#social i {
	font-size: 40px;
	color: #046662;
}

#social i:hover {
	color: #da9c06;
}
#social>div>div>div{
    display:inline-block;
}

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}

/* Welcome */
@media screen and (min-width: 320px){
.welcome h1{
	position: absolute;
	left:0 ;
	right:0 ;
	top: 0;
	width: 100%;
	font-size: 2em;
	text-transform: uppercase;
	padding-top: 20px;
	z-index: 999;
}
}
@media screen and (min-width: 960px){
.welcome h1{
	font-size: 3em;
}
}
.welcome{
	position: relative;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 2em;
	padding: 2em;
	min-height: 7em;

}
.contact{
    align-content: center;
    text-align: center;
    

}

.contact h1{
    align-content: center;
    text-align: center;
    padding-bottom: 30px;
    margin-left: 2%;
    
    
}
.contacttext{
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    
}


.overlay{
	background: rgba(238,238,238,0.8);

	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);	
	z-index: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left:0;
}


.workcont{
	background: url(../img/vissenkop.jpg) no-repeat center top;
	background-attachment: relative;
	background-position: center center;
        -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap {	
    background: rgba(0,0,0,0.8);
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	min-height: 650px;
	width: 100%;
}

#workwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff
}
.aboutcont{
    	background: url(../img/about.jpg) no-repeat center top;
    	background-attachment: relative;
	background-position: center center;
        -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
#aboutwrap {	
    background: rgba(0,0,0,0.4);
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;

	min-height: 550px;
	width: 100%;
}




/* Gallery */
.img-responsive{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
        margin: 0 auto;
}

@media screen and (min-width: 320px){
.imgcont{
	width: 100%;
	height: 300px;
	position:relative;
}
.img-responsive {
	float: none;
	min-width: 300px;
	height: 100%;
	display: inline-block;
}
#containercontent {
	position: relative;
    float: none;
	width: 400px;
	margin: auto;
	background: rgba(238,238,238,0.8);
	padding: 2em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
}

@media screen and (min-width: 960px){
	.imgcont{
	width: 420px;
	height: 300px;
	overflow: hidden;
	margin:0;
	float: left;
	position:relative;
}
.img-responsive {
	float: left;
	min-width: 420px;
	height: 100%;
	display: block;

}
#containercontent {
	position: relative;
   	float: right;
	width: 400px;
	margin: 2em;
}
}
.containercontent-cont{
/*	post absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;*/
}

.gallery {
	margin-top: 30px;
	width: 100%;
}

.gallery img:hover {
	opacity: 0.4;
}


.content_article {
	width: 100%;
}
.content_title{
	text-transform: uppercase;
}
.articleList_container{
	border:1px solid black; 

}

#add{

}

#edit{
	display: none;
}


/* Gallery */

.pagincont{
position: relative;
width: 100%;
height: 4em;
}

#pagination-whole{
	display: block;
	text-align: center;
	width: auto;
	padding: 1em;
	background: #fff;
/*	position: absolute;
	left: 0;
	right: 0;*/
	margin: auto;


}
#pagination-whole *{
	color: #4a4a4a ;
	padding-left: 1.5em;
	padding-right: 1.5em;
	display: inline-block;
}

